---
layout: splash

author_profile: false
header:
  overlay_image: /assets/images/forest.jpg
  caption: "Photo credit: [**aalmeidah**](https://pixabay.com/users/aalmeidah-4277022/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4943531) from [**Pixabay**](https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4943531)"

excerpt: "My journey into data science"

intro: 
  - excerpt: "Welcome to my blog! Find here posts about interests and learning in machine learning and more, and information about me and my GitHub projects. Enjoy!"

latest_posts:
  - image_path: /assets/images/python_morning.png
    alt: "Python"
    title: "Python exercises for Friday morning"
    excerpt: "Trying out some Python awesomeness! Racing bar charts and more..."
    btn_label: "Read More"
    btn_class: "btn--inverse"
    url: "/python/2021/02/12/python-friday-1.html"
  - image_path: /assets/images/docker_logo_preview.png
    alt: "Docker"
    title: "Time for Docker!"
    excerpt: "My first introduction to Docker. What is portability, and what is Docker?"
    btn_label: "Read More"
    btn_class: "btn--inverse"
    url: "/linux/2021/01/26/docker-1.html"
  - image_path: /assets/images/peer_prog_preview.jpg
    alt: "Linux"
    title: "My first attempt at shell scripting - 2"
    excerpt: "I continue to learn about bash shell scripting on my Linux environment, step by step."
    btn_label: "Read More"
    btn_class: "btn--inverse"
    url: "/linux/2021/01/15/bash-scripting-2.html"

series1:
  - image_path: /assets/images/linux_penguin.png
    alt: "Linux"
    title: "The Linux series"
    excerpt: "Follow me as I build a Linux data science development environment, with lots of learning!"
    btn_label: "Read More"
    btn_class: "btn--inverse"
    url: "/linux/2020/12/10/how-i-started-linux.html"
series2:
  - image_path: /assets/images/markdown.png
    alt: "Starterpack"
    title: "The data scientist starter pack series"
    excerpt: "Essential software and technology knowledge that all data scientist need to know."
    btn_label: "Read More"
    btn_class: "btn--inverse"
    url: "/starterpack/2020/12/02/markdown.html"

---

{% include feature_row id="intro" type="center" %}

<h3 style="text-align:center;">Latest posts</h3>
{% include feature_row id="latest_posts" %}

<h3 style="text-align:center;">Series</h3>
{% include feature_row id="series1" type="left" %}
{% include feature_row id="series2" type="right" %}

<p style="text-align:center;"><a href="/allblogposts/">Check out all my other blog posts here!</a></p>


